{% extends 'base.html' %} {% block title %}course_detail{% endblock %} 
{% block custom_css %}
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
{% endblock %} 
{% block custom_content %}
<div class="container">
    <div class="jumbotron" style="background-color: #222">
        <h1 style="color: #fff;">{{ course.name }}</h1>
        <p style="color: #fff;">讲师：{{ course.teacher }}</p>
        <p style="color: #fff;">收藏人数：{{ course.fav_nums }}</p>
         <button type="button" class="btn btn-primary btn-lg collectionbtn">{% if has_fav %}已{% endif %}收藏课程</button>
    </div>
</div>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <ul class="breadcrumb">
            <li>
                <b><a href="" class="myfont"
                    {% if all_lecturers %}{% endif %}>章节</a></b>
            </li>
            <li>
                <a href="{% url 'courses:course_comment' course.id %}" class="myfont"
                    {% if all_lecturers %} {% endif %}>评论</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                {% for lesson in course.get_lesson %}
                <li>
                    <a href="#{{ lesson.id }}" class="nav-header collapsed" data-toggle="collapse">
                        {{ lesson.name }}
                        <span class="pull-right glyphicon glyphicon-chevron-down">{{ lesson.get_video_count }}</span>
                    </a>
                    <ul id="{{ lesson.id }}" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        {% for video in lesson.get_video %}
                        <li class="active"><a href="{% url 'courses:course_video' course.id lesson.id video.id %}">{{ video.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if current_video %}
        <div class="col-md-10">
                <video id='my-video' class='video-js' controls preload='auto' width='950' height='420'
                poster='{{ MEDIA_URL }}{{ course.image }}' data-setup='{}'>
                  <source src='{% if current_video.video_file %}{{ MEDIA_URL }}{{ current_video.video_file }}{% else %}{{ current_video.url }}{% endif %}' type='video/mp4'>
                </video>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
    //收藏分享
    function add_fav(current_elem, fav_id, fav_type) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "{% url 'courses:add_fav_course' %}",
            data: {
                'fav_id': fav_id,
                'fav_type': fav_type
            },
            async: true,
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {
                if (data.status == 'fail') {
                    //window.location.href = "/login/";
                    alert(data.msg)
                } else if (data.status == 'success') {
                    current_elem.text(data.msg)
                }
            },
        });
    }

    $('.collectionbtn').on('click', function () {
        add_fav($(this), {{ course.id }}, 1);
        });
    </script>
<script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
{% endblock %}