{% extends 'base.html' %} {% block title %}lecturers_index.html{% endblock %}
{% block custom_content %}
<div class="jumbotron" style="background: #222; margin-top: 50px">

    <div class="container">
        <h1 style="color: #fff;">{{ lecturers_count }}名讲师</h1>
    </div>

</div>
<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li class="myfont">
                讲师列表
            </li>
        </ul>
    </div>
    <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#6f5499" size="5" />
    {% for lecturer in all_lecturers.object_list %}
    <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
            <img src="{{ MEDIA_URL}}{{ lecturer.image }}" class="img-circle" alt="Cinque Terre" width="150"
                height="150">
        </div>
        <div class="col-md-10 col-sm-6 col-xs-6">
            <a href="{% url 'teacher_detail' lecturer.id %}">
                <h2>{{ lecturer.name }}</h2>
            </a>
            <p class="lead">所属学院：{{ lecturer.college_org }}</p>
            <p class="lead">课程数：{{ lecturer.get_course_counts }}</p>
            <p class="lead">教学特点：{{ lecturer.points }}</p>
            <p class="lead">办公地址：{{ lecturer.address }}</p>
        </div>
    </div>
    <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#6f5499" size="5" />
    {% endfor %}
</div>
<ul class="pager">
    {% if all_lecturers.has_previous %}
    <li>
        <a href="?{{ colleges.previous_page_number.querystring }}" style="color: #222">previous</a>
    </li>
    {% endif %}
    {% for page in all_lecturers.pages %}
    {% if page %}
    {% ifequal page all_lecturers.number %}
    <li class="active">
        <a href="" style="color: #222">{{ page }}</a>
    </li>
    {% else %}
    <li>
        <a href="?{{ page.querystring }}" style="color: #222">{{ page }}</a>
    </li>
    {% endifequal %}
    {% else %}
    <li>
        <a href="" style="color: #222">...</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if all_lecturers.has_next %}
    <li>
        <a href="?{{ colleges.next_page_number.querystring }}" style="color: #222">next</a>
    </li>
    {% endif %}
</ul>{% endblock %}

{% block custom_js %}
<script>
    var el = document.getElementById('lecturer');
    el.setAttribute('class', 'active');
</script>
{% endblock %}